// Paleta de colores

$background: white; // Fondo de las páginas
$blanco:white;      // Texto del Carrusel, H1 y H3
$rojo: red;         // Color usado en efectos de transicion
$verde-obscuro: #3d5912; // Color en efectos de transicion
$verde-azulado:#9BC1BC;  // Color del fondo del header, footer y overlay
$colorBtn:#5D576B;       // Color del Boton Enviar en formulario Contacto
$negro: black;           // Texto del H2 y contenido footer
