%estiloTituloGaleria{
    padding-top: 2rem;
    text-align: center;
}

%estiloListaGaleria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

%estiloSecciones{
    color: $verde-obscuro ;
    font-size: 1.88rem;
    font-weight: bold;
    text-decoration: none;
    margin:3rem;
}