@mixin efectosBotonFormulario($colorBackground, $width ) {
    background: $colorBackground;
    width: $width;
}

@mixin estructuraFlex( $flexDirection, $justifyContent, $alignItems) {    
    display: flex;
    flex-direction:$flexDirection;  
    justify-content: $justifyContent; 
    align-items: $alignItems;
}

@mixin estructuraGrid ($templateColumns, $autoRow, $gap) {    
    display: grid;
    grid-template-columns: $templateColumns;
    grid-auto-rows: $autoRow;
    gap: $gap;
}